{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Customers{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs4.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bs4-custom.css' %}" />
<!-- Icomoon Font Icons css -->
<link rel="stylesheet" href="{% static 'fonts/style.css' %}">
<link href="{% static 'vendor/datatables/buttons.bs.css' %}" rel="stylesheet" />
<link href="{% static 'css/chackbox.css' %}" rel="stylesheet" />

<style type="text/css">.cat{
  margin: 4px;
  background-color: #104068;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.cat label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}

.cat label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.cat label input {
  position: absolute;
  display: none;
  color: #fff !important;
}
/* selects all of the text within the input element and changes the color of the text */
.cat label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
.cat input:checked + span{background-color: #1a8e5f;}

</style>
{% endblock stylesheets %}
{% block content %}
{% include 'customer/customer_form.html' %}
<div class="table-container  mx-auto col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="example1_wrapper">
    <div class="t-header ">

            <form hx-get="{% url 'customer_list' %}" hx-target='#customerList' hx-trigger="change,delay:500ms">
                <div class="card-body">
                    <div class="custom-btn-group">
                       <div class="cat">

                            <label  >
                              <input   name="All" type="checkbox">
                            <span> All</span>
                            </label>
                        </div>
                        <div class="cat">

                            <label  >
                              <input   name="client" type="checkbox">
                            <span> زبون</span>
                            </label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="backagecompany" type="checkbox">
                            <span>رحلات</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="aircompany" type="checkbox">
                            <span>نقل جوي</span></label>
                        </div>
                        <div class="cat ">
                            <label>
                            <input   name="transportcompany" type="checkbox">
                            <span>نقل بري</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="seacompany" type="checkbox">
                            <span>نقل بحري</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="visacompany" type="checkbox">
                            <span> تأشيرات</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="hotelcompany" type="checkbox">
                            <span>فنادق</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="insurancecompany" type="checkbox">
                            <span>تأمين صحي</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input   name="documentcompany" type="checkbox">
                            <span>وثائق سفر</span></label>
                        </div>
                        <div class="cat">
                            <label >
                            <input  name="shippingcompany" type="checkbox">
                            <span>شحن</span></label>
                        </div>
                    </div>
                </div>
            </form>

    </div>
    <!-- Row start -->
    <div class="table-responsive">
        <table id="table1" class="table custom-table ">
            <thead>
                <tr>
                    <th style="padding-right: 0px;">No</th>
                    <th style="padding-right: 0px;">account</th>
                    <th style="padding-right: 0px;">logo</th>
                    <th style="padding-right: 0px;">category</th>
                    <th style="padding-right: 0px;">address</th>
                    <th style="padding-right: 0px;">phone</th>
                    <th style="padding-right: 0px;">tradeRecord</th>
                    <th style="padding-right: 0px;">email</th>
                    <th style="padding-right: 0px;">web</th>
                    <th style="padding-right: 0px;">Update</th>
                    <th style="padding-right: 0px;">author</th>
                    <th style="padding-right: 0px;">action</th>
                </tr>
            </thead>
            <tbody hx-trigger=" customerListChanged from:body" hx-get="{% url 'customer_list' %}" hx-target="this" id="customerList">
                {% include 'customer/customer_list.html' %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<!-- Data Tables -->
<script src="{% static 'vendor/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
<!-- Custom Data tables -->
<script src="{% static 'vendor/datatables/custom/custom-datatables.js' %}"></script>
<script src="{% static 'vendor/datatables/custom/fixedHeader.js' %}"></script>
<!-- Download / CSV / Copy / Print -->
<script src="{% static 'vendor/datatables/buttons.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jszip.min.js' %}"></script>
<script src="{% static 'vendor/datatables/pdfmake.min.js' %}"></script>
<script src="{% static 'vendor/datatables/vfs_fonts.js' %}"></script>
<script src="{% static 'vendor/datatables/html5.min.js' %}"></script>
<script src="{% static 'vendor/datatables/buttons.print.min.js' %}"></script>
<script>
$(function() {
    var table = $("#table1").DataTable({
        "responsive": true,
        "lengthChange": true,

        "autoWidth": false,
        "lengthMenu": [5, 10, 25, 50, 75, 100],
        "columnDefs": [
            { "width": "5%", "targets": 0 }
        ],
        dom: 'Bflrtp',
        "paging": true,
        "searching": true,
        // "ordering": true,
        "bInfo": true,
        "bSort": true,
        // "fixedHeader": true,
        "iDisplayLength": 10,
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5',
            'print'
        ],
    });


});
</script>
<script type="text/javascript">
// https://developer.mozilla.org/en-US/docs/Web/Media/Formats/Image_types
const fileTypes = [
    'image/apng',
    'image/bmp',
    'image/gif',
    'image/jpeg',
    'image/pjpeg',
    'image/png',
    'image/svg+xml',
    'image/tiff',
    'image/webp',
    `image/x-icon`
];

function validFileType(file) {
    return fileTypes.includes(file.type);
}

function returnFileSize(number) {
    if (number < 1024) {
        return number + 'bytes';
    } else if (number > 1024 && number < 1048576) {
        return (number / 1024).toFixed(1) + 'KB';
    } else if (number > 1048576) {
        return (number / 1048576).toFixed(1) + 'MB';
    }
}
</script>
<script>
function resetfun() {
    document.getElementById("form").reset();
    console.log('resetFun');
}
</script>
{% endblock javascripts %}