{% load i18n %}
{% load static %}
{% load aymen_extras %}
<!-- Topbar  Start -->
  <div class="container-fluid bg-light pt-3 d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-center mb-0 mb-lg-0">
                <div class="d-inline-flex align-items-center ">
                    <p><i class="fa fa-envelope mr-2"></i>{{ company.email }} </p>
                    <p class="text-body px-3">|</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>{{company.phoneNumber1}}</p>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-center">

                <div class="d-inline-flex align-items-center">
                    <h1 class="m-0 text-primary"><span class="text-dark">TRAVEL O</span>N line</h1>
      
                </div>

            </div>
            <div class="col-lg-3 text-center text-lg-center">
                <form action="#" method="post" class="language-picker__form"> {% csrf_token %}
                    <input type="hidden" name="next" value="{{ redirect_to }}">

                    <div class="nav-item dropdown">
                        
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Select Language</a>
                    <div class="dropdown-menu border-0 rounded-0 m-0">
                       {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% for lang in LANGUAGES %}

                        <a  class="dropdown-item  text-center" href="/{{lang.0}}/">
                      {% with "img/flag/"|addstr:lang.0|addstr:".svg" as static_svg %}
                            <img class="w-25 h-25"
                            src="{% static static_svg %}"
                            alt="{{lang.0}}" >
                            {% endwith %}  
                        </a>
                        {% endfor %}

                    </div>
                </div>

                </form>
            </div>
              </div>


    </div>
</div>

<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid position-relative  nav-bar p-0" >
    <div class="container-lg position-relative p-0 px-lg-0" style="z-index: 5;">
        <nav class=" navbar-expand-xl bg-light navbar-light shadow-lg" >
             <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse  justify-content-around px-5   " id="navbarCollapse">
             
                <div class="navbar-nav ml-9 py-6 ">
                   
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'home' %} active {% endif %}"
                        href="{% url 'home' %}">
                       {% trans "Home" %} 
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'trip' %} active {% endif %}"
                        href="{% url 'trip' %}">
                        {% trans "Trip" %}  
                    </a>
                    </li>
                    <div class="nav-item dropdown show">
                        <a href="#" class="nav-link dropdown-toggle  {% if navbar == 'tickit' %} active {% endif %}" data-toggle="dropdown" aria-expanded="false"> {% trans "Tickit" %}</a>
                        <div class="dropdown-menu border-0 rounded-0 m-0    ">
                            <a href="{% url 'flight' %}" class="dropdown-item">{% trans "Flight" %}</a>
                            <a href="{% url 'transport' %}" class="dropdown-item">{% trans "Transport" %} </a>
                            <a href="{% url 'sea' %}" class="dropdown-item"> {% trans "Ferry" %}</a>
                        </div>
                    </div>
                   
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'visa' %} active {% endif %}"
                        href="{% url 'visa' %}">
                        {% trans "Visa" %} 
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'hotel' %} active {% endif %}"
                        href="{% url 'hotel' %}">
                        {% trans "Hotel" %} 
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'insurance' %} active {% endif %}"
                        href="{% url 'insurance' %}">
                        {% trans "Insurance" %}  
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'document' %} active {% endif %}"
                        href="{% url 'document' %}">
                        {% trans "Travel Document" %}  
                    </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'shipping' %} active {% endif %}"
                        href="{% url 'shipping' %}">
                        {% trans "Shipping" %}  
                    </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link js-scroll-trigger
                        {% if navbar == 'about' %} active {% endif %}"
                        href="{% url 'about' %}">
                        {% trans "About us" %}  
                    </a>
                    </li> -->


                    {% if user.is_authenticated %}

                    {% if user.is_superuser or user.is_staff or  user.is_MANAGER or user.is_RESERVATION or user.is_ACCOUNTANT  or user.is_CUSTOMER %}

                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger"
                        href="{% url 'dashboard' %}"> {% trans "admin" %}</a>
                      </li>

                   {% endif %}

                     <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link ">
                          <button  class="btn btn-primary rounded " > {% trans "Sign Out" %}</button>
                            <!-- <i class="fas fa-sign-out-alt nav-icon"></i> -->
                        </a>
                      </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link ">
                            <button  class="btn btn-primary rounded" >{% trans "Sign In" %}</button>
                          <!-- <i class="fas fa-sign-in-alt nav-icon"></i> -->
                        </a>
                      </li>

                    {% endif %}

                </div>
            </div>
        </nav>
    </div>
</div>
